__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
env/

.DS_Store
Thumbs.db
.vscode/
.idea/

data/raw/
data/processed/
data/splits/
!data/README.md

*.keras
*.h5
*.ckpt
checkpoints/
models/
**/training_backup/
**/checkpoints/

**/test_predictions.csv
**/validation_predictions*.csv
**/*checkpoint.csv
**/*.npy
logs/

RSNA_Pneumonia_Multiclass_XAI_v2/
